*

!README.md
!.gitignore

!config
!docker/
!docker/Dockerfile
!docker/docker-compose.yml
!docker/docker-compose.dev.yml
!docker/dev.sh
!docker/entrypoint.sh
!.env
!.env.example

!data/
!data/.gitkeep
!.github/
!.github/workflows/
!.github/workflows/publish.yml
